{% extends "base.html.twig" %}

{% block title %}Payment not found{% endblock %}

{% block body %}
    <h1>Payment not found</h1>
    <p class="important">
        Payment with id <b>{{ id }}</b> was not found in the database.
    </p>
{% endblock %}